<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
  <a class="navbar-brand">#B</a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="javascript:void(0)" (click)='alert_notmade()'><i class="fas fa-shopping-cart"> Shoppers</i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/school"><i class="fas fa-synagogue"> School</i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="javascript:void(0)" (click)='alert_notmade()'><i class="fas fa-tractor"> Farm</i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="javascript:void(0)" (click)='alert_notmade()'><i class="fas fa-truck"> Dilevery</i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/print"><i class="fas fa-print"> print</i></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="javascript:void(0)" (click)='alert_notmade()'><i class="fas fa-calendar-check"> Appointments</i></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <app-account [show]="'icon'"></app-account>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
