<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Fix my appointment</h4>
      <span class="text-muted"></span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <nav class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <app-account [show]="'icon'"></app-account>
      </li>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<router-outlet></router-outlet>
