<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
  <a class="navbar-brand">#B</a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="home" (click)='alert_notmade()'><i class="fas fa-home"> Home</i></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <app-account [show]="'icon'"></app-account>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<router-outlet></router-outlet>
