
<ng-container *ngIf="!LS.islogged">
    <h1>U must be logged in to continue</h1>
</ng-container>
<ng-container *ngIf="LS.islogged">
    <div class="row card-body">
        <div class="col-md-4">
            <div class="card">
                    <div class="card-header">
                            Create new Appointment
                        </div>
                        
                <div class="card-body">
                    <div class="input-group">
                                <input class="form-control" type="text" placeholder="Recipient's text" aria-label="Recipient's ">
                                <div class="input-group-append">
                                    <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class="card">
                        <div class="card-header">
                                Search for Appointment
                            </div>
                            
                    <div class="card-body">
                        <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Recipient's text" aria-label="Recipient's ">
                                    <div class="input-group-append">
                                        <button class="btn btn-success"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
    </div>
</ng-container>
<ng-container>
    <div class="card-body">
            <div class="card">
                    <div class="card-header">
                            My active appointments
                        </div>
                        
                <div class="card-body">
                    <div class="input-group">
                                <h1 class="text-danger">You dont have any active appointments</h1>
                    </div>
                </div>
            </div>
    </div>
</ng-container>